<!DOCTYPE html>
<html lang="en" class="no-js" 	xmlns:th="http://www.thymeleaf.org"
								xmlns:sec="http://www.thymeleaf.org" 
								xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- BEGIN HEADER -->
<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a th:href="@{/}">
			<!-- <img th:src="@{/assets/admin/layout/img/logo.png}" alt="logo" class="logo-default"/>-->
			</a>
			<div class="menu-toggler sidebar-toggler hide">
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<span th:text="${#authentication.getPrincipal().getUsername()}"></span> <!-- No ".getUsername()"-->
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-quick-sidebar-toggler" sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}" class="dropdown-toggle">
					<i class="icon-logout"></i>
					</a>
				</li>
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
</html>